<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>新的朋友</string>
		<key>icon</key>
		<string>friend_addFriend</string>
	</dict>
	<dict>
		<key>title</key>
		<string>添加圈子</string>
		<key>icon</key>
		<string>friend_community</string>
	</dict>
	<dict>
		<key>title</key>
		<string>会员商家</string>
		<key>icon</key>
		<string>friend_VIP</string>
	</dict>
</array>
</plist>
