<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>费用账单</string>
		<key>detail</key>
		<array>
			<dict>
				<key>title</key>
				<string>水费</string>
				<key>price</key>
				<string>1元/立方</string>
				<key>use</key>
				<string>15立方</string>
				<key>cost</key>
				<string>15元</string>
				<key>memo</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>电费</string>
				<key>price</key>
				<string>0.56元/度</string>
				<key>use</key>
				<string>200度</string>
				<key>cost</key>
				<string>100元</string>
				<key>memo</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>燃气费</string>
				<key>price</key>
				<string>5元/立方</string>
				<key>use</key>
				<string>10立方</string>
				<key>cost</key>
				<string>50元</string>
				<key>memo</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>宽带费</string>
				<key>price</key>
				<string>98元/月</string>
				<key>use</key>
				<string></string>
				<key>cost</key>
				<string>98元</string>
				<key>memo</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>物业管理费</string>
				<key>price</key>
				<string>1元/平方</string>
				<key>use</key>
				<string>84.5平方</string>
				<key>cost</key>
				<string>84.5元</string>
				<key>memo</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>小区停车费</string>
				<key>price</key>
				<string>15元/天</string>
				<key>use</key>
				<string>30天</string>
				<key>cost</key>
				<string>450元</string>
				<key>memo</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>公摊费</string>
				<key>price</key>
				<string></string>
				<key>use</key>
				<string></string>
				<key>cost</key>
				<string>100元</string>
				<key>memo</key>
				<string>(备注:公摊费包含公共照明设施以及电梯、绿化的使用费用)</string>
			</dict>
			<dict>
				<key>title</key>
				<string>其他</string>
				<key>price</key>
				<string></string>
				<key>use</key>
				<string></string>
				<key>cost</key>
				<string>100元</string>
				<key>memo</key>
				<string>(备注:7楼到八楼之间外墙体脱落维修费用)</string>
			</dict>
			<dict>
				<key>title</key>
				<string>总计</string>
				<key>price</key>
				<string></string>
				<key>use</key>
				<string></string>
				<key>cost</key>
				<string>1000元</string>
				<key>memo</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
